/*
Landing Page Specific CSS | HOLDING Web App
GROUP 3: Douglas MacKrell, Briahana Mauge, Joseph P. Pasaoa, Kathy Puma
*/


div#base-grid {
  display: grid;
  background-image: url('../assets/images/Holding_Logo_ALPHA_V2_Cutout_Bell.png');
  background-position: center center;
  background-size: 35%;
  background-repeat: no-repeat;
}

span#test {
  color: green;
}