/*
Landing Page Specific CSS | HOLDING Web App
GROUP 3: Douglas MacKrell, Briahana Maugé, Joseph P. Pasaoa, Kathy Puma
*/


/* div {
  margin-top: 20px;
} */

#tagLine {
  background-color: goldenrod;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

#pageName {
  /*   background-color: lightyellow; */
  text-align: center;
  padding: 5px;
  font-size: 3vw;
}

a {
  display: block;
  font-size: 1.5vw;
  text-decoration: none;
    padding: 10px;
}

#tableOfContents {
  width: 10vw;
  display: block;
  border: lightgray dashed 3px;
  /*this will be an invisible border*/
}
#singlePost{
  display: block;
  text-align: center;
}

#current {
  font-weight: bolder;
  background-color: lightblue;
}

#allPosts{
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  /* margin-bottom: 50px; */
}
ul{
  width: 400px;
   list-style-type: none;
}
#postList{
  margin-bottom: 11px;
  padding-bottom: 20px;
}
.post {
  font-size: 1.5vw;
  font-weight: normal;
  border: goldenrod solid 2px;
  margin-bottom: 20px;

}
p{
  background-color: #F1F1F1;
  font-size: 1.25vw;
  font-weight: lighter;
  border-top: solid;
  margin-top: 5px;
  /* border: */
  /* margin-bottom: 50px; */
}

#footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
/* div[id ^= 'likeDiv']:hover{
  visibility: visible;
} */
/* button[id ^= 'likeDiv'] {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

#div {
  position: relative;
  display: inline-block;
}

div[id ^= 'name_'] {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

div[id ^= 'name_'] a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

div[id ^= 'name_'] a:hover {background-color: #ddd;}

#div:hover div[id ^= 'name_'] {display: block;}
