html,body{
    height: 100%;
}

#submitButton, #deleteButton, #addButton, #submitButton2{
    border-radius: 12px;
    height: 30px;
    width: 55px;
    display: flex;
    justify-content: space-between;
}

#searchBox{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

li {
    list-style-type: none;
    margin-bottom: 3px;
    color: black;
    }

#displayAllPostFromGivenUser,#addUser {
    display:flex;
    margin-bottom: 20px;
    margin-right: 10%;
}

#tableOfContents{
    align-items: center;
    position: fixed;
    border: 2px solid goldenrod;
    display: table;
    font-size: 100%;
    padding: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

#allTheUsers, #usersResults,#searchResults, #deleteUser , #addUser, #displayAllPostFromGivenUser{
    margin-left: 125px;
    margin-right: 10%;
}
ul{
    padding-left: 0;
}

#current{
    font-weight: 700;
}

.allResultsDiv, .searchResultsDiv{
    margin-bottom: 50px;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

#title{
    display: grid;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
  
    grid-row: 2;
    grid-column: 1/4;
}

#heading{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


#searchBoxTop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input{
    border-left-style: ridge;
    margin-right: 10px;
    width: 300px;
}

#search{
    width: 100%;
}



.button{
    display: flex;
    margin-left: 15px;
    padding-right:10%
}
.profileImage{
    border-radius: 50%;

}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.15em;
}
