/*
Site-Wide CSS Styles | HOLDING Web App
GROUP 3: Douglas MacKrell, Briahana Maugé, Joseph P. Pasaoa, Kathy Puma
*/


/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT INITS 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/
@font-face {
  font-family: 'AlegreyaSans-Black';
  src: url('../assets/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf') format('truetype');
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSans-BlackItalic';
  src: url('../assets/fonts/Alegreya_Sans/AlegreyaSans-BlackItalic.ttf') format('truetype');
  font-weight: black;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 




/*
FAF8F9
A3AD8E
B8D1C9
928C96
6C8F92
*/


/* MAIN STYLE */
html, body, div#base-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}

h1 {
  margin-right: 5%;

  text-align: right;
  font-size: 2em;
  font-weight: 900;
  font-style: normal;
  font-family: 'AlegreyaSans-Black', sans-serif;
}


/* MADE WITH HEADER-TOC BUILDER */
div#base-grid {
  display: grid;
  grid-template-columns: 351px auto;
  grid-template-rows: 85px 85px auto;
  grid-gap: 0px;

  background: rgb(250,248,249);
  background: linear-gradient(135deg, rgba(250,248,249,1) 0%, rgba(232,237,236,1) 76%, rgba(184,209,201,1) 100%);
}

img#logo {
  height: 54px;
  margin: 13px 6px 6px 25px;
}

/* input[name="search"] {
  margin: 6px 12px 12px 6px;
  padding: 0px 10px 1px 10px;
  width: 260px;
  height: 22px;
  border-radius: 27px;

  font-size: 1em;
}

input[name="search"]:focus {
  outline: none;
} */

div#headerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
}

ul#toc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0px 52px 0 12px;
  padding: 39px 0px 48px 0px;
  width: 560px;
}

ul#toc li {
  padding: 4px 12px;
}

ul#toc li a:link, ul#toc li a:visited {
  text-decoration: none;
  font-weight: 900;
  font-style: normal;
  font-size: 1.3em;
  font-family: 'AlegreyaSans-Black', sans-serif;
  color: #A3AD8E;
}

ul#toc li a:hover, ul#toc li a:active {
  color: #B8D1C9;
}

ul#toc li a.current {
	cursor: default;
	color: #6C8F92;
}

div#leftBase {
  grid-row: span 2;

  display: grid;
  grid-template-columns: 136px auto;
  grid-template-rows: 85px auto;
  grid-gap: 0px;
  
  position: relative;
  width: auto;
  height: auto;
  background-color: #A3AD8E;
  border-radius: 0px 7px 0px 0px;
  z-index: 100;
}

div#crownShim {
  width: auto;
  height: auto;
}

div#crownHolder {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: auto;
}

div#leftBase { /* UNIVERSAL DROP-SHADOWS */
  box-shadow: 3px 11px 18px #999;
}

div#crownMarquee {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
}

div#marquee {
  padding: 9px 12px 6px 6px;
  height: auto;
  width: 556px;

  text-align: right;
  text-decoration: none;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5em;
  font-family: 'AlegreyaSans-Black', sans-serif;
  color: #000;

  text-shadow: 3px 11px 11px #ccc;
}

div#marquee strong {
  font-weight: 900;
  color: #928C96;
}

div#marquee em {
  font-weight: 900;
  font-style: normal;
  color: #6C8F92;
}

div#bodyLeftSpot {
  position: relative;
  width: auto;
  height: auto;
  background-color: #928C96;
  border-radius: 0px 11px 0px 0px;
  box-shadow: 3px 11px 18px #666;
  z-index: 500;
}

div#bodyAboutHold {
  width: auto;
  height: auto;
}

div#aboutHold {
  width: auto;
  height: auto;

  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1.4em;
  /* font-style: italic; */
  padding: 22px 12px 12px 18px;
  color: #FAF8F9;
}

div#aboutHold h3 {
  margin-bottom: 12px;
  
  font-size: 1.3em;
  color: #B8D1C9;
}

/* div#right-body { */
  /* display: block;
  margin-top: 17px; */
/* } */
/* end MADE WITH HEADER-TOC BUILDER */


.hover-fade {
  opacity: 1;
  transition: opacity 0.2s;
}

.hover-fade:hover {
  opacity: 0.5;
}


/* MADE WITH USER SIM CONTROL */
div#userSimControl {
  position: fixed;
  bottom: 15px;
  right: 41px;
  z-index: 9001;

  width: 120px;
  height: 52px;

  background-color: #f9f9f9;
  border: solid 2px darkorange;
  border-radius: 16px;
}

div#userSimControl label {
  display: block;
  margin: 5px 0px 0px 12px;

  font-size: 1em;
}

div#userSimControl label b {
  font-weight: bold;
}

div#userSimControl input {
  height: 18px;
  padding: 1px 11px 2px 8px;
  margin: 3px 0px 0px 36px;
  width: 47px;
  border-radius: 5px;

  background-color: #ddd;

  font-size: 1em;
  text-align: right;
}

div#userSimControl input:focus {
  outline: none;
}
/* end MADE WITH USER SIM CONTROL */


/*.btn, .btn.btn-default, .navbar .navbar-nav > li > a.btn, .navbar .navbar-nav > li > a.btn.btn-default { */

button {
  border-radius: 3;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

div#marquee em {
    font-weight: 900;
    font-style: normal;
    color: #6C8F92;
    
}

div#marquee{
    text-shadow: 3px 11px 11px #ccc;
    font-weight: 900;
    font-style: normal;
    color: #6C8F92;
    margin-left: 110px;

}

#blueboys{
    margin-bottom: 12px;
    font-size: 1.3em;
    color: #B8D1C9;
    padding-left: 17px;
}